<!doctype html>
<html lang="ru">
<head>
    {{> head}}
    <title>Админ-панель</title>
    <script defer src="/js/admin-panel.js"></script>
    <script src="https://cdn.tiny.cloud/1/lx1k5gva7psp1ywffg4ujjonc5dk9q44notypc4ns36d6s45/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <form method="post" action="admin/moderate" class="admin-context-menu col">
        <input name="moderateContext" type="text" id="contextModerateContext" hidden>
        <button name="updateById" id="context-update-btn">Изменить</button>
        <button name="deleteById" id="context-delete-btn">Удалить</button>
    </form>
    <div class="admin-toggler">
        <img src="/img/icons/menu.png" alt="Навгиация">
    </div>
    <div class="admin-modal col">
        <header class="row">
            <h1>Меню</h1>
            <button class="admin-modal-close-btn">X</button>
        </header>
        <nav class="col">
            <a data-target="admin-employers" class="nav-link" href="#">Сотрудники</a>
            <a data-target="admin-positions" class="nav-link" href="#">Вакансии</a>
            <a data-target="admin-users" class="nav-link" href="#">Пользователи</a>
            <a data-target="admin-products" class="nav-link" href="#">Товары</a>
            <a data-target="admin-services" class="nav-link" href="#">Услуги</a>
            <a data-target="admin-works" class="nav-link" href="#">В работе</a>
        </nav>
    </div>
    <div class="admin-wrapper">
        <section id="admin-employers" class="row">
            <div class="col section-part first-part">
                <div class="col ">
                    <h2>Добавить сотрудника</h2>
                    <form action="admin/addEmployer" class="employers-form col" method="post" enctype="multipart/form-data">
                        <fieldset class="col">
                            <legend>Личные данные</legend>
                            <label for="employ-firstname-input">Имя:</label>
                            <input name="employFirstname" type="text" id="employ-firstname-input" value="{{employFirstname}}">
                            <label for="employ-surname-input">Фамилия:</label>
                            <input name="employSurname" type="text" id="employ-surname-input" value="{{employSurname}}">
                            <label for="employ-age-input">Возраст:</label>
                            <input name="employAge" type="number" id="employ-age-input" value="{{employAge}}">
                            {{#if isNewAvatar}}
                            <span>Старое изображение</span>
                            <img src="/img/uploads/{{employAvatar}}" alt="">
                            {{/if}}
                            <label for="employ-avatar-input">Аватар:</label>
                            <input name="employAvatar" type="file" id="employ-avatar-input">
                        </fieldset>
                        <fieldset class="col">
                            <legend>Описание и навыки</legend>
                            <label for="employ-position-select">Должность:</label>
                            <select name="employPosition" id="employ-position-select">
                                {{#if isNewPosition}}
                                    <option selected value="{{employPositionId}}">{{employPositionName}}</option>
                                {{/if}}
                                {{#each allPositions}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <label for="employ-description-textarea">Описание:</label>
                            <textarea name="employDescription" id="employ-description-textarea" cols="30" rows="10">{{employDescription}}</textarea>
                            <label for="employ-stack-textarea">Стек технологий:</label>
                            <textarea name="employStack" id="employ-stack-textarea" cols="30" rows="10">{{employStack}}</textarea>
                        </fieldset>
                        <div class="row form-controls">
                            <button class="btn-pos" type="submit">ОК</button>
                            <button class="btn-neg" type="reset">Стереть</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col section-part second-part">
                <div class="col">
                    <h3>Все сотрудники</h3>
                    <div class="all-records all-employers row">
                        {{#each allEmployers}}
                            <div class="card employer row" id="{{this.id}}">
                                <div class="col card-img">
                                    <img src="img/uploads/{{this.avatar}}" alt="">
                                </div>
                                <div class="col card-text">
                                    <h3>{{this.name}}</h3>
                                    <h4>{{this.firstname}} {{this.surname}}</h4>
                                    <div class="row">
                                        <a href="/teammate?teammateId={{this.id}}" class="card-link" target="_blank">Перейти</a>
                                        <img src="/img/uploads/{{this.icon}}" class="card-icon" alt="">
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <section id="admin-positions" class="row">
            <div class="col section-part first-part">
                <div class="col">
                    <h2>Добавить вакансию</h2>
                    <form action="admin/addPosition" class="col" enctype="multipart/form-data" method="post">
                        <label for="position-name-input">Название:</label>
                        <input name="positionName" type="text" id="position-name-input" value="{{positionName}}">
                        {{#if isNewIcon}}
                        <span>Старая картинка</span>
                        <img src="/img/uploads/{{positionIcon}}" alt="">
                        {{/if}}
                        <label for="position-icon-input">Иконка:</label>
                        <input name="positionIcon" type="file" id="position-icon-input">
                        <label for="position-main-checkbox">Ключевая?</label>
                        <input name="positionIsMain" type="checkbox" id="position-main-checkbox" {{#if positionIsMain}}checked{{/if}}>
                        <div class="row form-controls">
                            <button class="btn-pos">ОК</button>
                            <button class="btn-neg">Стереть</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col section-part second-part">
                <div class="col">
                    <h3>Всё вакансии</h3>
                    <div class="all-records all-positions row">
                        {{#each allPositions}}
                            <div class="card position row" id="{{this.id}}">
                                <div class="col card-img">
                                    <img src="/img/uploads/{{this.icon}}" alt="Иконка специальности">
                                </div>
                                <div class="col card-text">
                                    <h3>{{this.name}}</h3>
                                    <div class="col">
                                        <span>Ключевая ли вакансия?</span>
                                        <span>{{this.is_main}}</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <section id="admin-users" class="row">
            <div class="col section-part first-part">
                <div class="col">
                    <h2>Настройки пользователя</h2>
                    <div class="user-settings col">
                        <div class="user-settings-top row">
                            <div class="user-setting-img col">
                                <img src="/img/uploads/{{userAvatar}}" alt="">
                            </div>
                            <div class="user-settings-header col">
                                <h2>Логин: {{userLogin}}</h2>
                                <span>Email: {{userEmail}}</span>
                                <span>Роль: {{userRoleName}}</span>
                            </div>
                        </div>
                        <div class="user-settings-control row">
                            {{#if isBanned}}
                                <span class="warning">Пользователь был забанен!</span>
                                <form action="admin/unbanUser" method="post" class="row" style="background-color: unset">
                                    <div class="form-controls col">
                                        <button class="btn-pos" name="btnUnbanUser" value="{{userId}}">Разбанить</button>
                                    </div>
                                </form>
                            {{else}}
                                <form action="admin/banUser" method="post" class="row" style="background-color: unset">
                                    <div class="col">
                                        <label for="ban-reason-input">Причина</label>
                                        <input type="text" id="ban-reason-input" name="banReason">
                                    </div>
                                    <div class="form-controls col">
                                        <button class="btn-neg" name="btnBanUser" value="{{userId}}">Забанить</button>
                                    </div>
                                </form>
                            {{/if}}
                        </div>
                        <h3>Покупки пользователя:</h3>
                        <div class="user-settings-products col">
                            <div class="col">
                                {{#each userPurchases}}
                                    <div class="top-product row">
                                        <div class="col top-product-img card-img">
                                            <img src="/img/uploads/{{this.image}}" alt="">
                                        </div>
                                        <div class="col top-product-text card-text">
                                            <h3>{{this.name}}</h3>
                                            <h4>{{this.second_name}}</h4>
                                            <div class="row">
                                                <a class="top-product-link card-link link-to" href="product?productId={{this.id}}">Перейти</a>
                                                <span class="top-product-price  card-price">{{this.price}}₽</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <h3>Комментарии пользователя</h3>
                        <div class="user-settings-reviews col">
                            <div class="col">
                                {{#each userReviews}}
                                    <div class="user-settings-review row">
                                        <div class="col">
                                            <p>{{this.text}}</p>
                                            <span>{{this.created_at}}</span>
                                        </div>
                                        <div class="col">
                                            <form action="admin/deleteReview" method="post" style="background-color: unset">
                                                <div class="form-controls">
                                                    <button class="btn-neg" name="deletedReviewId" value="{{this.id}}">Удалить</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col section-part second-part">
                <div class="col">
                    <h3>Все пользователи</h3>
                    <div class="all-records all-users row">
                        {{#each allUsers}}
                            <div class="card user row" id="{{this.id}}">
                                <div class="col card-img">
                                    <img src="/img/uploads/{{this.avatar}}" alt="">
                                </div>
                                <div class="col card-text">
                                    <h3>{{this.login}}</h3>
                                    <h4>{{this.name}}</h4>
                                    <div class="row">
                                        <a class="card-link" href="" target="_blank">Перейти</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <section id="admin-products" class="row">
            <div class="col section-part first-part">
                <div class="col">
                    <h2>Добавить продукт</h2>
                    <form action="admin/addProduct" class="col" method="post" enctype="multipart/form-data">
                        <label for="product-name-input">Название:</label>
                        <input name="productName" type="text" id="product-name-input" value="{{productName}}">
                        <label for="product-second-name-input">Второй название:</label>
                        <input name="productSecondName" type="text" id="product-second-name-input" value="{{productSecondName}}">
                        <label for="product-description-textarea">Описание:</label>
                        <textarea name="productDescription" id="product-description-textarea" cols="30" rows="10">{{productDescription}}</textarea>
                        <label for="product-images-input">Картинки:</label>
                        <input name="productImages" type="file" multiple id="product-images-input">
                        <label for="product-author-select">Автор:</label>
                        <select name="productAuthor" id="product-author-select">
                            {{#if isNewAuthor}}
                                <option selected value="{{oldAuthorId}}">{{oldAuthorSurname}} {{oldAuthorFirstname}}</option>
                            {{/if}}
                            {{#each allEmployers}}
                                <option value="{{this.id}}">{{this.surname}} {{this.firstname}}</option>
                            {{/each}}
                        </select>
                        <label for="product-price-input">Цена:</label>
                        <input name="productText" type="text" id="product-price-input" value="{{productPrice}}">
                        <div class="row form-controls">
                            <button class="btn-pos">OK</button>
                            <button class="btn-neg">Стереть</button>
                        </div>
                    </form>
                    <h3>Добавить 3d-демо</h3>
                    <form action="admin/addDemo" method="post" enctype="multipart/form-data">
                        <label for="product-demo-id-input">Товар:</label>
                        <select name="productDemoId" id="product-demo-id-input">
                            {{#each allProducts}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <fieldset>
                            <legend>3d - демка</legend>
                            <label for="product-demo-model-input">Модель</label>
                            <input name="productDemoFiles" type="file" id="product-demo-model-input">
                            <label for="product-demo-texture-input">Текстура</label>
                            <input name="productDemoFiles" type="file" id="product-demo-texture-input">
                            <label for="product-demo-color-input">Цвет(по умолч.)</label>
                            <input name="productDemoFiles" type="file" id="product-demo-color-input">
                            <label for="product-demo-path-input">Название папки</label>
                            <input name="productDemoPath" type="text" id="product-demo-path-input">
                        </fieldset>
                        <div class="row form-controls">
                            <button class="btn-pos">OK</button>
                            <button class="btn-neg">Стереть</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col section-part second-part">
                <div class="col">
                    <h3>Все товары</h3>
                    <div class="all-records all-products row">
                        {{#each allProducts}}
                            <div class="card product row" id="{{this.id}}">
                                <div class="col card-img">
                                    <img src="/img/uploads/{{this.image}}" alt="">
                                </div>
                                <div class="col card-text">
                                    <h3>{{this.name}}</h3>
                                    <h4>{{this.second_name}}</h4>
                                    <div class="row">
                                        <a class="card-link" href="/product?productId={{this.id}}" target="_blank">Перейти</a>
                                        <span class="card-price">{{this.price}}₽</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <section id="admin-services" class="row">
            <div class="col section-part first-part">
                <div class="col">
                    <h2>Добавить услугу</h2>
                    <form action="admin/addService" class="col" method="post" enctype="multipart/form-data">
                        <label for="service-header-input">Заголовок:</label>
                        <input name="serviceHeader" type="text" id="service-header-input" value="{{serviceHeader}}">
                        <label for="service-description-textarea">Описание:</label>
                        <textarea name="serviceDescription" id="service-description-textarea" cols="30" rows="10">{{serviceDescription}}</textarea>
                        <label for="service-image-input">Изображение:</label>
                        <input name="serviceImage" type="file" id="service-image-input">
                        {{#if isNewImage}}
                            <span>Старое изображение</span>
                            <img src="/img/uploads/{{serviceOldImage}}" alt="">
                        {{/if}}
                        <label for="service-price-input">Цена:</label>
                        <input name="servicePrice" type="number" id="service-price-input" value="{{servicePrice}}">
                        <div class="row form-controls">
                            <button class="btn-pos">ОК</button>
                            <button class="btn-neg">Стереть</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col section-part second-part">
                <div class="col">
                    <h3>Все услуги:</h3>
                    <div class="all-records all-services row">
                        {{#each allServices}}
                            <div class="card service row" id="{{this.id}}">
                                <div class="col card-img">
                                    <img src="/img/uploads/{{this.image}}" alt="">
                                </div>
                                <div class="col card-text">
                                    <h3>{{this.header}}</h3>
                                    <div class="row">
                                        <a class="card-link" href="/service?serviceId={{this.id}}">Перейти</a>
                                        <span class="card-price">{{this.price}}₽</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <section id="admin-works" class="row">
            <div class="col section-part first-part">
                <div class="col">
                    <h2>Настройки заявки</h2>
                    <div class="work-settings">
                        <span>Заказчик</span>
                        <div class="row">
                            <img src="/img/uploads/{{workUserAvatar}}" alt="">
                            <span>{{workUserLogin}}</span>
                        </div>
                        {{#if workAuthorId}}
                            <span>Исполнитель</span>
                            <div class="row">
                                <img src="/img/uploads/{{workAuthorAvatar}}" alt="">
                                <div class="col">
                                    <span>{{workAuthorFirstname}}</span>
                                    <span>{{workAuthorSurname}}</span>
                                </div>
                            </div>
                        {{else}}
                            <p>Автор не выбран</p>
                        {{/if}}
                        <span>Описание:</span>
                        <p>{{workDescription}}</p>
                        <div class="row">
                            <form action="admin/updateWork" class="col" method="post">
                                <label for="work-author-select">Испольнитель</label>
                                <select name="workAuthor" id="work-author-select">
                                        <option value="{{workAuthorId}}" selected>{{workAuthorFirstname}} {{workAuthorSurname}}</option>
                                    {{#each allEmployers}}
                                        <option value="{{this.id}}">{{this.firstname}} {{this.surname}}</option>
                                    {{/each}}
                                </select>
                                <label for="work-status-select">Статус</label>
                                <select name="workStatus" id="work-status-select">
                                    <option value="{{workStatusId}}" selected>{{workStatusName}}</option>
                                    {{#each allStatuses}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                                <div class="form-controls row">
                                    <button class="btn-pos">OK</button>
                                    <button class="btn-neg">Стереть</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col section-part second-part">
                <div class="col">
                    <h3>Все заявки</h3>
                    <div class="all-records all-works row">
                        {{#each allWorks}}
                            <div class="card work row" id="{{this.id}}">
                                <div class="col card-img">
                                    <img src="/img/uploads/{{this.image}}" alt="">
                                </div>
                                <div class="col card-text">
                                    <h3>{{this.header}}</h3>
                                    <div class="col">
                                        <span>Автор</span>
                                        <span>{{firstname}} {{surname}}</span>
                                        <span>Цена:</span>
                                        <span class="card-price">{{this.price}}₽</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script type="module">
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });






    </script>
</body>
</html>