<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head}}
    <title>AR-OPTIMA</title>
    <script defer src="/js/homepage.js"></script>
    <script defer src="/js/script.js"></script>
</head>
<body>
    {{> modalMenu}}
    <div class="wrapper">
        <header class="header">
            <div class="col logo-container">
                <div class="logo row">
                    <img src="/img/icons/logo.png" alt="Логотип">
                    <div class="col">
                        <a href="/">AR-OPTIMA</a>
                        <span>Technology is everywhere</span>
                    </div>
                </div>
                <img class="mobile-banner" src="/img/icons/nft.png" alt="NFT">
                <div class="banner">
                    <span class="highlighted-text">ДОПОЛНЕННАЯ</span> РЕАЛЬНОСТЬ В ТВОЁМ ДОМЕ
                </div>
            </div>
            <div class="col info-container">
                <div id="what-is-it" class="col info-part info-part-active">
                    <video preload="auto" autoplay loop="true" muted="muted">
                        <source src="/media/vrandar.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    </video>
                    <p>
                        <strong>Дополненная реальность</strong> – одна из многих технологий взаимодействия человека и компьютера.
                        Ее специфика заключается в том, что она программным образом визуально совмещает два изначально независимых пространства:
                        мир реальных объектов вокруг нас и виртуальный мир, воссозданный на компьютере.
                        Цель проекта <b>AR-OPTIMA</b> сделать дополненную реальность доступнее.
                    </p>
                </div>
                <div id="who-we-are" class="col info-part content-part">
                    <h2>Кто мы такие?</h2>
                    <img src="/img/team/team.png" alt="">
                    <p>Мы молодая и активная команда разработчиков и дизайнеров, занимающихся дополненной реалььностью. Мы уверены, что в этой технологии заложен огромный потенциал.
                        <a href="/teammates">По этой ссылке</a> вы сможете ознакомиться со всей нашей командой и прглашёнными художниками.</p>
                    <p>Наша цель сделать дополненную реальность доступнее.</p>
                    <h3>Но где я могу это использовать?</h3>
                    <div class="row advantages">
                        <div class="advantage col">
                            <img src="/img/icons/art.png" alt="Искусство" >
                            <span>Искусство</span>
                        </div>
                        <div class="advantage col">
                            <img src="/img/icons/gamepad.png" alt="Гейминг" >
                            <span>Гейминг</span>
                        </div>
                        <div class="advantage col">
                            <img src="/img/icons/comercy.png" alt="Комерция" >
                            <span>Электронная комерция</span>
                        </div>

                    </div>
                </div>
                <div id="why-its-cool" class="col info-part content-part">
                    <h2>Почему это круто?</h2>
                    <h3>Что такое NFT?</h3>
                    <img src="/img/icons/nft.png" alt="NFT">
                    <p>Токены представляют собой запись в регистре внутри этой блокчейн-цепочки. Отличительной чертой большинства токенов является принцип взаимозаменяемости. Его можно сравнить с валютой (в том числе криптовалютой): один доллар, один рубль или один биткоин можно с легкостью заменить одним долларом, одним рублем или одним биткоином, принадлежащим другим пользователем.
                        Однако очевидно, что не все цифровые активы являются взаимозаменяемыми. Картина Пабло Пикассо не тождественна произведению Клода Моне, а mp3-файл с песней The Beatles вряд ли можно заменить на запись концерта Эминема. Поэтому для того, чтобы перенести в блокчейн уникальные предметы, и был создан формат невзаимозаменяемых токенов.</p>
                    <p>Команда <a href="/">AR-OPTIMA</a> поможет вам в <a href="/service?serviceId=5">в создании собственного цифрового произведения искусства</a> а также в
                        <a href="/service?serviceId=3">получении NFT-токена на ваше произведение!</a></p>
                </div>
            </div>
            {{>modalToggler}}
            <div class="col info-nav-container">
                <nav class="col">
                    <a class="info-nav-link" data-target="what-is-it" href="#">Что это такое?</a>
                    <a class="info-nav-link" data-target="who-we-are" href="#">Кто мы такие?</a>
                    <a class="info-nav-link" data-target="why-its-cool" href="#">Почему это круто?</a>
                </nav>
            </div>
        </header>
        <section id="our-team" class="col">
            <h2>Наша Команда</h2>
            <div class="team-container row">
                {{#each mainEmployers}}
                    <a href="teammate?teammateId={{this.id}}">
                        <div class="teammate col">
                            <div class="col teammate-top">
                                <h3>{{this.name}}</h3>
                            </div>
                            <img src="/img/uploads/{{this.avatar}}" alt="Аватарка" class="teammate-img">
                            <div class="col teammate-text">
                                <h4>{{this.firstname}} {{this.surname}}</h4>
                                <div class="teammate-description">{{inputHTML this.description}}</div>
                                <img src="/img/uploads/{{this.icon}}" class="teammate-icon" alt="Иконка специальности">
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </section>
        <section id="top" class="col">
            <h2>Топ</h2>
            <div class="top-container row">
                {{#each topProducts}}
                    <div class="top-product row">
                        <div class="col top-product-img card-img">
                            <img src="/img/uploads/{{this.image}}" alt="">
                        </div>
                        <div class="col top-product-text card-text">
                            <h3>{{this.name}}</h3>
                            <h4>{{this.second_name}}</h4>
                            <div class="row">
                                <a class="top-product-link card-link link-to" href="product?productId={{this.id}}">Перейти</a>
                                <span class="top-product-price  card-price">{{this.price}}₽</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
        <section id="demo-example" class="col">
            <h2>Демо-пример</h2>
            <div class="demo-container col">
                <p>Простой откройте <a href="">эту страницу</a> и наведите камеру на это изображение</p>
                <div class="demo-container">
                    <img src="/img/demo-img.webp" alt="">
                </div>
            </div>
        </section>
        <section id="personal-model" class="col">
            <h2>Ваша собственная 3d-модель</h2>
            <p class="personal-model-text">Если вы занимаетесь 3d - дизайном или у вас уже есть nft-токены на какие-либо цифровые произведения, то мы поможем Вам создать вашу персоанльную дополненную реальность</p>
            <div class="personal-container row">
                {{#each topServices}}
                    <div class="personal-card col">
                        <img src="/img/uploads/{{this.image}}" alt="" class="personal-card-img">
                        <div class="personal-card-text">
                            <h3>{{this.header}}</h3>
                            <div class="personal-card-description">{{inputHTML this.description}}</div>
                            <div class="row">
                                <a href="/service?serviceId={{this.id}}" class="personal-card-link link-to">Перейти</a>
                                <span class="personal-card-price price">от {{this.price}}₽</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
        {{> footer}}
    </div>
</body>
</html>


