<!doctype html>
<html lang="ru">
<head>
    {{> head}}
    <title>Личный кабинет</title>
    <script defer src="/js/script.js"></script>
    <script defer src="/js/personal.js"></script>
</head>
<body>
    {{>modalMenu}}
    <div class="wrapper wrapper-main">
        {{>headerLight}}
        <main class="main col">
            <div class="invoice-error">
                {{invoiceError}}
            </div>
            <div class="personal-user-container row">
                <div class="col">
                    <h2>Настройки пользователя</h2>
                    <form action="/personal/updateAvatar" class="personal-user-settings col" method="post" enctype="multipart/form-data">
                        <label for="personal-user-avatar-input">Аватар</label>
                        <div class="col">
                            <img src="/img/uploads/{{currentUserAvatar}}" alt="Изменить">
                            <div class="row">
                                <input name="currentUserAvatar" type="file" readonly id="personal-user-avatar-input" class="disabled-input">
                                <img src="/img/icons/pencil.png" data-target="personal-user-avatar-input" alt="Изменить" class="change-pencil">
                            </div>
                        </div>
                        <div class="form-controls row">
                            <button class="btn-pos">ОК</button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form action="/personal/updateLogin" class="personal-user-settings col" method="post" >
                        <label for="personal-user-login-input">Логин</label>
                        <div class="row">
                            <input name="currentUserLogin" type="text" id="personal-user-login-input" readonly class="disabled-input" value="{{currentUserLogin}}">
                            <img src="/img/icons/pencil.png" data-target="personal-user-login-input" alt="Изменить" class="change-pencil">
                        </div>
                        <div class="form-controls row">
                            <button class="btn-pos">ОК</button>
                        </div>
                    </form>

                    <form action="/personal/updatePassword" class="personal-user-settings col" method="post">
                        <label for="personal-user-password-input">Сменить пароль</label>
                        <div class="row">
                            <input name="currentUserPassword" type="password" id="personal-user-password-input" class="disabled-input" readonly placeholder="Введите новый пароль">
                            <img src="/img/icons/pencil.png" data-target="personal-user-password-input" alt="Изменить" class="change-pencil">
                        </div>
                        <div class="form-controls row">
                            <button class="btn-pos">ОК</button>
                        </div>
                    </form>

                    <form action="/personal/updateEmail" class="personal-user-settings col" method="post">
                        <label for="personal-user-email-input">Сменить email</label>
                        <div class="row">
                            <input name="currentUserEmail" type="text" id="personal-user-email-input" class="disabled-input" value="{{currentUserEmail}}" readonly placeholder="Введите новую почту">
                            <img src="/img/icons/pencil.png" data-target="personal-user-email-input" alt="Изменить" class="change-pencil">
                        </div>
                        <div class="form-controls row">
                            <button class="btn-pos">ОК</button>
                        </div>
                    </form>
                </div>
            </div>
            <h3>Мои покупки:</h3>
            <div class="row all-user-purchases">
                {{#each userPurchases}}
                    <div class="top-product row">
                        <div class="col top-product-img card-img">
                            <img src="/img/uploads/{{this.image}}" alt="">
                        </div>
                        <div class="col top-product-text card-text">
                            <h3>{{this.name}}</h3>
                            <h4>{{this.second_name}}</h4>
                            <div class="row">
                                <a class="top-product-link card-link link-to" href="/product?productId={{this.id}}">Перейти</a>
                                <span class="top-product-price  card-price">{{this.price}}₽</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <h3>Мои заявки</h3>
            <div class="row all-user-purchases">
                {{#each userWorks}}
                    <div class="card work row" id="{{this.id}}">
                        <div class="col card-img">
                            <img src="/img/uploads/{{this.image}}" alt="">
                        </div>
                        <div class="col card-text">
                            <h3>{{this.header}}</h3>
                            <div class="col">
                                <span>Автор</span>
                                <span>{{firstname}} {{surname}}</span>
                                <span>Цена:</span>
                                <span class="card-price">{{this.price}}₽</span>
                                <span>Статус: {{status}}</span>

                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

        </main>
        {{>footer}}
    </div>
</body>
</html>