<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Услуга</title>
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    {{>modalMenu}}
    <div class="wrapper wrapper-main">
        {{>headerLight}}
        <main class="main">
            {{#with service}}
            <div class="current-service-container col">
                <h2>{{header}}</h2>
                <img src="/img/uploads/{{image}}" alt="">
                <p>{{inputHTML description}}</p>
                <span>{{price}}</span>

            </div>
            {{/with}}
            <h3>Свяжитесь с нами для получения услуги</h3>
            {{#if isAuthorized}}
            <form action="service/addWork" method="post" class="col form-work">
                <label for="work-description-input">Ваши пожелания:</label>
                <textarea name="workDescription" id="work-description-input" cols="30" rows="10"></textarea>
                <div class="form-controls row">
                    <button class="btn-pos" name="workAddBtn" value="{{service.id}}" type="submit">ОК</button>
                    <button class="btn-neg" type="reset">Стереть</button>
                </div>
            </form>
            {{else}}
                <p><a href="/auth#auth-login">Авторизуйтесь</a>, чтобы быть с нами на связи</p>
            {{/if}}
            {{>bottomSlider}}
        </main>
        {{>footer}}
    </div>

    <script type="module">

        import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'
        const swiper = new Swiper('.swiper-container',{
            direction: 'vertical',
            loop:true,

            pagination:{
                el:'.swiper-pagination',
            },


        });

        let horizontalSwiper = '';

        window.addEventListener('load',function (e) {
            let slidesPerView = 3
            if (this.innerWidth <= 1000) {
                slidesPerView = 2;
                if (this.innerWidth < 768) {
                    slidesPerView = 1;
                }
            } else {
                slidesPerView = 3;
            }

            horizontalSwiper = new Swiper('.swiper-horizontal-container', {
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                slidesPerView: slidesPerView
            })
        });


        window.addEventListener('resize', function (e) {
            let slidesPerView = 3;
            if (this.innerWidth <= 1000) {
                slidesPerView = 2;
                if (this.innerWidth < 768) {
                    slidesPerView = 1;
                }
            } else {
                slidesPerView = 3;
            }

            horizontalSwiper = new Swiper('.swiper-horizontal-container', {
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                slidesPerView: slidesPerView
            });
        });

    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>